<section class="page-hero">
  <div class="section-center">
      <h3 class="page-hero-title">Home / Index</h3>
  </div>
</section>
<header>
  <div class="header-content">
       <div class="header-content-inner">
            <h3>ICreatesites4u</h3>
            <h1>Welcome To My Spot Web Development</h1>
            <p>Affordable Website Design & Hosting</p>
       </div>
  </div>
</header>
<!--Our-Services -->
<section id="our-services">
<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h2>Welcome</h2>
          <hr>
      </div>
      <p class="m-auto">We are Professional Website Design & Development Services.
        We are here to assist you personally and professionally if your business needs to invented, re-invented and/or managed online on an on-going basis as your needs see fit however, we do also offer a variety of  creative options to assist with branding with social media ads, commercials and more.
        We are able to customize a service or plan that fits your needs.
        Give Us a Call..!
      </p>
  </div>
</div>
</section>
<!-- detail-area -->
<section id="detail-area">
<div class="container">
        <div class="row">
              <div class="col-lg-12 text-center">
                        <h2>Creating Animations in JavaScript</h2>
              <hr>
              <p class="text-area m-auto">When you are animating something in CSS using transitions or animations,
                your browser does a lot of the actual animating for you. For both transitions and animations,
                all you really do is just define the starting state and the ending state:</p>
              </div>
        </div>
  </div>
</section>
<!-- toggle area -->
<section id="gallery">
<div class="accordion container">
  <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="heading"> <span>We Create Amazing Websites: 3 Simple Steps</span> </h1>
</div>
<button class="accordion"><h3>Html.....</h3>Click Here For More Info</button>
<div class="panel">
          <img src="images/accordion/html.jpg" class="img-responsive">
</div>
<button class="accordion"><h3>Css......</h3>Click Here For More Info</button>
      <div class="panel">
          <img src="images/accordion/css.png" class="img-responsive">
</div>
<button class="accordion"><h3>JavaScript.....</h3>Click Here For More Info</button>
<div class="panel">
          <img src="images/accordion/javascript.jpg" class="img-responsive">
      </div>
  </div>
</div>
</section>
<!-- Eat-Clean -->
<section id="webapps">
<div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="heading"> <span>We Can Create WebApps</span> </h1>
          </div>
      </div>
      <div class="row box">
          <div class="col-md-6 col-sm-6 outside-container">
            <img src="/assets/latest/sm1.jpg" class="img-responsive photo">
            <div class="overlay">
              <div class="text">Mobile-App</div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 box-1">
            <h2 class="featurette-heading">Oh yeah, it's that good.
              <br><span class="text-muted">See for yourself.</span></h2>
            <p class="col-auto">Mobile app development is the act or process by which a mobile app is developed for mobile devices,
              such as personal digital assistants, enterprise digital assistants or mobile phones.
              These software applications are designed to run on mobile devices, such as a smartphone or tablet computer.</p>
          </div>
        </div>
        <div class="row box">
            <div class="col-md-6 col-sm-6 outside-container">
              <img src="/assets/latest/sm2.jpg" class="img-responsive photo">
              <div class="overlay">
                <div class="text">DeskTop-App</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 box-1">
              <h2 class="featurette-heading">Oh yeah, it's that good.
              <br><span class="text-muted">See for yourself.</span></h2>
              <p class="col-auto">Desktop development implies the creation of software applications that perform on computers. Windows, Linux,
                and macOS are the three most popular operating systems which desktop software is created for.
                This type of development is native in most cases as apps function only on a particular type of operating system.</p>
            </div>
        </div>
        <div class="row box">
          <div class="col-md-6 col-sm-6 outside-container">
            <img src="/assets/latest/sm3.jpg" class="img-responsive photo">
            <div class="overlay">
              <div class="text">Api</div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 box-1">
              <h2 class="featurette-heading">Oh yeah, it's that good.
                  <br><span class="text-muted">See for yourself.</span></h2>
          <p class="col-auto">An application programming interface, or API, enables companies to open up their applications’ data and functionality
            to external third-party developers, business partners, and internal departments within their companies. This allows services
            and products to communicate with each other and leverage each other’s data and functionality through a documented interface.
            </p>
          </div>
        </div>
          <div class="row box">
              <div class="col-md-6 col-sm-6 outside-container">
                    <img src="/assets/latest/lgh1.jpg" class="img-responsive photo">
                    <div class="overlay">
                      <div class="text">Database</div>
                    </div>
              </div>
              <div class="col-md-6 col-sm-6 box-1">
                    <h2 class="featurette-heading">Oh yeah, it's that good.
                        <br><span class="text-muted">See for yourself.</span></h2>
                    <p class="item-text">Database development is designing, creating a database or data model, and analyzing requirements and their intents as raw data. Database development aims to create a structure that will allow for the efficient
                    storage and retrieval of data. Being a blueprint for the database, it should meet the needs of business.</p>
              </div>
          </div>
    </div>
</section>
  <!-- deal section starts  -->


<section class="testimonial-area" id="testimonial-area">
<h1 class="heading"> <span> Testimonials</span> </h1>
<div class="testimonial-container">
<div class="progress-bar"></div>
<div class="fas fa-quote-right fa-quote"></div>
<div class="fas fa-quote-left fa-quote"></div>
<p class="testimonial">
  I've worked with literally hundreds of HTML/CSS developers and I have to
  say the top spot goes to this guy. This guy is an amazing developer. He
  stresses on good, clean code and pays heed to the details. I love
  developers who respect each and every aspect of a throughly thought out
  design and do their best to put it in code. He goes over and beyond and
  transforms ART into PIXELS - without a glitch, every time.
</p>
<div class="user">
  <img
    src="https://randomuser.me/api/portraits/women/46.jpg"
    alt="user"
    class="user-image"
  />
  <div class="user-details">
    <h4 class="username">Miyah Myles</h4>
    <p class="role">Marketing</p>
  </div>
</div>
</div>




</section>

<section class="deal" id="deal">

<h1 class="heading"> <span> best deals </span> </h1>

<div class="box-container">

<div class="box">
    <img src="/assets/Features/15.jpg" alt="">
    <div class="content">
        <h3>web Development</h3>
        <p>upto 25% off on first purchase</p>
        <a href="#"><button class="btn btn-danger">explore</button></a>
    </div>
</div>

<div class="box">
    <img src="/assets/Features/13.jpg" alt="">
    <div class="content">
        <h3>Computer Repair</h3>
        <p>upto 25% off on first purchase</p>
        <a href="#"><button class="btn btn-danger">explore</button></a>
    </div>
</div>

</div>

<div class="icons-container">

<div class="icons">
    <i class="fas fa-shipping-fast"></i>
    <h3>fast delivery</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, molestiae?</p>
</div>

<div class="icons">
    <i class="fas fa-user-clock"></i>
    <h3>24 x 7 support</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, molestiae?</p>
</div>

<div class="icons">
    <i class="fas fa-money-check-alt"></i>
    <h3>easy payments</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, molestiae?</p>
</div>

<div class="icons">
    <i class="fas fa-box"></i>
    <h3>10 days replacements</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, molestiae?</p>
</div>

</div>

</section>

<!-- deal section ends -->
<!-- Partners -->
<section id="partners">
<div class="container">
  <div class="row">
<div class="col-lg-12">
          <h2>Partners</h2>
    <hr>
</div>
</div>
<div class="row text-center">
  <div class="col-md-4 col-sm-6 col-lg-6">
    <img src="/assets/img/Google-logo.png" class="btn btn-danger btn-circle btn-xl">
    <h4>Google</h4>
  </div>
  <div class="col-md-4 col-sm-6 col-lg-6">
    <img src="/assets/img/udemy-2-logo.png" class="btn btn-danger btn-circle btn-xl">
    <h4>Udemy</h4>
  </div>
  <div class="col-md-4 col-sm-6 col-lg-6">
    <img src="/assets/img/Youtube-logo.png" class="btn btn-danger btn-circle btn-xl">
    <h4>YouTube</h4>
  </div>
  <div class="col-md-4 col-sm-6 col-lg-6">
    <img src="/assets/img/Instagram-logo.png" class="btn btn-danger btn-circle btn-xl">
    <h4>Instagram</h4>
  </div>
</div>
</div>
</section>
<!-- Hours -->
<section class="hours parallax--bg">
<div class="container">
<div class="row">
<div class="col-lg-12">
          <h2>Hours</h2>
          <hr>
          <p>Monday-Friday: 7:30 am - 6:00 pm<p>
          <hr>
          <p>Saturday: 7:30 am - noon</p>
    <hr>
      </div>
</div>
</div>
</section>
