<div class="d-flex" id="wrapper">
 <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper"
  [ngClass]="onShowNavbar? 'hide' : 'show'">
  <div class="sidebar-heading">
    <a class="list-group-item-action" routerLink="/dashboard"
      ><i class="fa fa-pie-chart fa-2x"></i>Admin Dashboard</a
    >
  </div>
  <div class="clearfix"></div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light"
      ><i class="fa fa-plus-circle fa-2x"></i>Pages</a
    >
    <div class="clearfix"></div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a
          class="list-group-item list-group-item-action bg-light link-collapse">
          <i class="fa fa-home fa-2x"></i>Home-Page
        </a>
      </li>
    </ul>
  </div>
</div>
<app-projectlist-page></app-projectlist-page>
</div>

