.Sport {
background: red !important;
}

.Life{
  background: black !important;
  color: white;
}

.Programming{
  background: purple !important;
  color: white;
}
.Coding{
  background: peru !important;
  color: white;
}
